:root {
    --bs-blue: #63B3ED;
    --bs-indigo: #596CFF;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #F56565;
    --bs-orange: #fd7e14;
    --bs-yellow: #FBD38D;
    --bs-green: #81E6D9;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f0f2f5;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #e91e63;
    --bs-secondary: #7b809a;
    --bs-success: #4CAF50;
    --bs-info: #1A73E8;
    --bs-warning: #fb8c00;
    --bs-danger: #F44335;
    --bs-light: #f0f2f5;
    --bs-dark: #344767;
    --bs-white: #fff;
    --bs-dark-blue: #1A237E;
    --bs-primary-rgb: 233, 30, 99;
    --bs-secondary-rgb: , 128, 154;
    --bs-success-rgb: 76, 175, 80;
    --bs-info-rgb: 26, 115, 232;
    --bs-warning-rgb: 251, 140, 0;
    --bs-danger-rgb: 244, 67, 53;
    --bs-light-rgb: 240, 242, 245;
    --bs-dark-rgb: 52, 71, 103;
    --bs-white-rgb: 255, 255, 255;
    --bs-dark-blue-rgb: 26, 35, 126;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: , 128, 154;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #7b809a;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.125rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 0.75rem;
    --bs-border-radius-2xl: 1rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #e91e63;
    --bs-link-hover-color: #e91e63;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fcf8e3;
}

.sidenav[data-color=primary] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #e91e63, #e91e63);
}

.sidenav[data-color=secondary] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #7b809a, #7b809a);
}

.sidenav[data-color=success] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #4caf50, #4caf50);
}

.sidenav[data-color=info] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #1a73e8, #1a73e8);
}

.sidenav[data-color=warning] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #fb8c00, #fb8c00);
}


.sidenav[data-color=danger] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #f44335, #f44335);
}


.sidenav[data-color=light] .navbar-nav>.nav-item.nav-item-link .nav-link.active {
    background-image: linear-gradient(195deg, #f0f2f5, #f0f2f5);
}

.sidenav[data-color=dark] .navbar-nav>.nav-item.nav-item-link .nav-link.active+.collapse .nav-item.active .nav-link.active {
    background-image: linear-gradient(195deg, #344767, #344767);
}

.sidenav[data-color=white] .navbar-nav>.nav-item.nav-item-link .nav-link.active+.collapse .nav-item.active .nav-link.active {
    background-image: linear-gradient(195deg, #fff, #fff);
}


.navbar-brand {
    white-space: wrap;
}

.page-item.active .page-link {
    color: var(--bs-light);
}

.modal {
    --bs-modal-zindex: 9999999;
}

.choices__list--dropdown .choices__list {
    max-height: 170px;
}

.choices__list--dropdown {
    display: none;
}

.swal2-container {
    z-index: 999999999999999;
}

.async-hide {
    opacity: 0 !important
}

.table thead tr th {
    font-size: .65rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    opacity: .7 !important;
}

.table tbody tr td,
.blockquote p {
    font-size: .875rem !important;
    line-height: 1.5;
    font-weight: 400 !important;
}

.table.table-click tbody tr {
    cursor: pointer;
}

.choices {
    margin-bottom: 0px;
}

.pointer {
    cursor: pointer;
}

small.text-danger {
    text-transform: capitalize;
    font-size: 12px;
    top: 64px;
}

.typeahead.dropdown-menu {
    z-index: 999999999999999;
}

.dropdown-toggle.btn-icon-only:after {
    display: none !important;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox input[type="checkbox"]:checked+label::before {
    border-color: var(--bs-info);
    color: var(--bs-info);
}

.checkbox input[type="checkbox"]:checked+label::before {
    content: url('/assets/svg/check.svg');
    text-align: center;
    line-height: 1.2;
}

.checkbox label::before {
    border-color: var(--bs-info);
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    margin-left: -16px;
    border: 1px solid var(--bs-secondary);
    border-radius: 3px;
    background-color: var(--bs-light);
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.choices .choices__list.choices__list--single .choices__item--selectable {
    white-space: nowrap !important;
    overflow-x: hidden !important;
}

.choices__list--single .choices__item {
    width: 90%;
}

.tooltip {
    --bs-tooltip-zindex: 99999999999;
    z-index: var(--bs-tooltip-zindex) !important;
}

table.table.midle tbody tr th,
table.table.midle tbody tr td {
    vertical-align: middle;
}

.modal-backdrop {
    --bs-backdrop-zindex: 9999;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.flatpickr-calendar.open {
    z-index: 9999999;
    margin-left: 0;
    margin-top: 4px;
}

.swal2-input {
    padding: 0 0.75em;
}

.sidenav {
    z-index: 1024 !important;
}

.swal2-container {
    padding: 0.4em;
}

.swal2-toast {
    max-width: inherit;
}

body.swal2-toast-shown .swal2-container {
    width: unset;
}

.swal2-popup.swal2-toast .swal2-title {
    margin: 9px 5px auto;
}

.spinner-border.sm {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
}

.spinner-border.xs {
    --bs-spinner-width: .5rem;
    --bs-spinner-height: .5rem;
}

.moving-tab .nav-link.active {
    color: #fff !important;
}

.sidenav .navbar-nav>.nav-item .nav-link.active+.collapse .nav-item .nav-link.active+.collapse .nav-item .nav-link.active[data-bs-toggle="collapse"],
.sidenav .navbar-nav>.nav-item .nav-link.active+.collapsing .nav-item .nav-link.active+.collapse .nav-item .nav-link.active[data-bs-toggle="collapse"] {
    background-image: unset;
}

button.html5-qrcode-element, 
select.html5-qrcode-element {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-bottom: 5px;
}